{{>partials/header}}

    {{#showOld}}
        Opa, tudo bem? Qual a boa {{ name}} {{lastname }}?
    {{/showOld}}

    <hr/>
    <h2>Produtos</h2>
    <ul>
        
        {{#products}}
           {{>partials/productItem}} 
        {{/products}}
    </ul>

    <hr/>
    <h2>Produtos a partir de R$ 12</h2>
    <ul>
        
        {{#expensives}}
           {{>partials/productItem}} 
        {{/expensives}}
    </ul>
{{>partials/footer}}